# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de configuración de Firebase
#/firebase.json
#/.firebaserc

# Carpetas generadas por Firebase
/.firebase/
/functions/node_modules/

# Archivos de configuración local de funciones de Firebase
/functions/service-account-file.json

#Otros
/.vscode